/*cores #f16664 #ff7c8d #ff99b1 #ffb6c1*/

/*__________________________________________general attributes here*/
* {
        box-sizing: border-box;
    }
body {
    font-family: 'Open Sans';
    padding: 0px;
    margin: 0px;
}

/*@media only screen and (min-width: 1200px) {*/
/*    .vizcontainer{*/
        /*max-width: 1200px;*/
        /*height: 800px;*/
/*    }*/
/*    .words {*/
/*        transform: scale(1.3);*/
/*    }*/

/*}*/

/*__________________________________________layout attributes here*/
.main-content {
    box-sizing: border-box;
    width: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}
.vizcontainer {
    display: flex;
    flex-direction: row;
    /*align-self: stretch;*/
    justify-content: center;
}
.intro_context {
    width: 60%;
    padding-top: 40px;
    padding-bottom: 30px;
    max-width: 1000px;
}

img{
    width: 100%;
    height: auto;
}

.valueHolder {
    display: flex;
    flex-direction: row;
    width: 100%;
}
._holder {
    flex-basis: 25%;
    padding: 2%;
    border-bottom-width: 3px;
    border-left: 5px solid white;
    opacity: .6;
}
.infocard {
    background-color: grey;
    z-index: 1;
    /*position: absolute;*/
    display: flex;
    align-self: stretch;
    text-align: left;
    border-top: 1px solid black;
}

.smalllegend_k12,.smalllegend_github{
    font-family: 'IBM Plex Serif';
    font-size: 16px;
    line-height: 30px;
    /*color: #f9a260;*/
}
.smalllegend_k12{
    color: #ffa059;
}
.smalllegend_github{
    color: #5ecee5;
}

/*__________________________________________viz attributes here*/

#viz0,#viz1,#viz2,#viz3,#viz4 {
    display: flex;
    width: 100%;
    height: auto;
    overflow: auto;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    /*justify-content: flex-start;*/
}
#viz2{
    background-color: snow;
    
}
#viz2_1 {
    flex-basis: 75%;
}
#viz2_2{
    flex-basis: 25%;
    border: 20px solid snow;
    background-color: #ffb6c1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

svg.dotsViz{
    border: 1px dashed lightpink;
    border-top-color: white;
}


/*__________________________________________header attributes here*/




/*__________________________________________type attributes here*/
.h01{
    font-size: 90px;
    line-height: 86px;
    font-weight: 300;
    color:#5b2e90;
    margin-bottom: 60px;
}
.nodelabel{
    fill: black;
    z-index: 1;
    font-size: 8px;
    text-anchor: middle;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.circleThemes{
    z-index: 0;
    stroke: snow;
    stroke-width: 2px;
}
h1,h2,h3,h4,h5,h6{
    color: #5b2e90;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2px;    
}
.strong1 {
    font-weight: 900;
    border-bottom: 3px solid #ffa059;
}
.strong2 {
    font-weight: 900;
    border-bottom: 3px solid #5ecee5;
}
.BigNumber {
    font-size: 42px;
    line-height: 38px;
    font-weight: 300;
    color: white;
}
.detalhe{
    border-top: 1px solid black;
    padding-top: 3%;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}

/*__________________________________________graphical attributes*/
.tracer {
    position: absolute;
    border-top: 1px dashed black;
    border-left: 1px dashed black;
}
.step{
    text-align: center;
    font-weight: 700;
}
.btnholder{
    /*background-color: white;*/
    /*display: block;*/
}
button{
    font-family: 'Open Sans';
    font-weight: bold;
    background-color: #5ecee5;
    letter-spacing: 1px;
    padding: 10px;
    margin: 10px;
    color: white;
    text-transform: uppercase;
    border-style: none;
    box-shadow: 0px 2px 2px lightgrey;

}
button:hover, button:active, button:on{
    background-color: black;
    box-shadow: 0px 0px 0px lightgrey;
}
.connector,.connector2{
    box-sizing: content-box;
    position: absolute;
    visibility: visible;
    border-top: 3px solid black;
    z-index: 1;
}
.connector{
    border-right: 3px solid black;
}
.connector2{
    border-left: 3px solid black;
}
