/*_______general attributes here*/
* {
    box-sizing: border-box;
    }
body {
    font-family: 'Open Sans';
    padding: 0px;
    margin: 0px;
    color: black;
}
a{
    color: #5b2e90;
}
a:hover{
    font-weight: 800;
    color: #5b2e90;
}

/*_______layout attributes here*/
.main-content {
    box-sizing: border-box;
    width: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}
.part{
    box-sizing: border-box;
    width: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}
#part0{
   background: rgb(255,182,193);
    background: -webkit-linear-gradient(rgba(255,182,193,1) 0%, rgba(180,173,204,1) 100%);
    background: -moz-linear-gradient(rgba(255,182,193,1) 0%, rgba(180,173,204,1) 100%);
    background: -o-linear-gradient(rgba(255,182,193,1) 0%, rgba(180,173,204,1) 100%);
    background: linear-gradient(rgba(255,182,193,1) 0%, rgba(180,173,204,1) 100%);
    color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#part1{
    /*background-color: #b4adcc;*/
    background: rgb(180,173,204);
    background: -webkit-linear-gradient(rgba(180,173,204,1) 0%, rgba(244,180,179,1) 100%);
    background: -moz-linear-gradient(rgba(180,173,204,1) 0%, rgba(244,180,179,1) 100%);
    background: -o-linear-gradient(rgba(180,173,204,1) 0%, rgba(244,180,179,1) 100%);
    background: linear-gradient(rgba(180,173,204,1) 0%, rgba(244,180,179,1) 100%);
}
#part2{
    /*background-color: #ffb6c1;*/
    background: rgb(253,227,199);
    background: -webkit-linear-gradient(bottom, rgba(253,227,199,1) 0%, rgba(244,180,179,1) 100%);
    background: -moz-linear-gradient(bottom, rgba(253,227,199,1) 0%, rgba(244,180,179,1) 100%);
    background: -o-linear-gradient(bottom, rgba(253,227,199,1) 0%, rgba(244,180,179,1) 100%);
    background: linear-gradient(to top, rgba(253,227,199,1) 0%, rgba(244,180,179,1) 100%);
}
#part3{
    /*background-color: snow;*/
    background: rgb(253,227,199);
    background: -webkit-linear-gradient(rgba(253,227,199,1) 0%, rgba(211,223,218,1) 100%);
    background: -moz-linear-gradient(rgba(253,227,199,1) 0%, rgba(211,223,218,1) 100%);
    background: -o-linear-gradient(rgba(253,227,199,1) 0%, rgba(211,223,218,1) 100%);
    background: linear-gradient(rgba(253,227,199,1) 0%, rgba(211,223,218,1) 100%);
}
#part4{
    background: rgb(233,216,231);
    background: -webkit-linear-gradient(bottom, rgba(233,216,231,1) 0%, rgba(211,223,218,1) 100%);
    background: -moz-linear-gradient(bottom, rgba(233,216,231,1) 0%, rgba(211,223,218,1) 100%);
    background: -o-linear-gradient(bottom, rgba(233,216,231,1) 0%, rgba(211,223,218,1) 100%);
    background: linear-gradient(to top, rgba(233,216,231,1) 0%, rgba(211,223,218,1) 100%);
}
.vizcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.intro_context {
    width: 60%;
    padding-top: 40px;
    padding-bottom: 30px;
    max-width: 1000px;
}
.titulo{
    font-size: 70px;
    line-height: 66px;
    font-family: 'Merriweather';
    font-weight: 900;
    flex-basis: 40%;
    margin-right: 10px;
    border-right: 1px solid black;
    color: #5b2e90;
}
.top1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 80vw;
    max-width: 1200px;
}
.final{
    border-top: 1px solid black;
    font-size: 12px;
    line-height: 16px;
    width: 80vw;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}
.snippets{
    flex-basis: 25%;
    padding-top: 20px;
    padding-right: 20px;
}
.small_int{
    flex-basis: 60%;
    font-size: 15px;
    padding-left: 30px;
    padding-bottom: 30px;
}
.hugen{
    position: absolute;
    left: 100px;
}
.linhafina{
    padding-top: 13px;
    letter-spacing: 0.2;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    padding-right: 10px;
}
.sectionHolder{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.bullet{
    border-right: 1px solid black;
    padding-right: 20px;
}
.sectionDesc{
    padding-left: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #5b2e90;
    font-size: 44px;
    line-height: 43px;
}
.bullet_txt{
    font-size: 140px;
    line-height: 160px;
    color: #5b2e90;
    font-weight: 300;
}
svg{
    max-width: 1300px;
    max-height: 700px;
}
svg.secondViz{
    max-width: 2000px;
}
.valueHolder {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-end;
}
._holder {
    flex-basis: 25%;
    padding: 1%;
    opacity: .6;
}
.descHolder {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
}
.descUnique {
    flex-basis: 25%;
    padding-right: 2%;
    opacity: .6;
}
.example{
    font-size: 13px;
    margin-top: 30px;
    color: #5b2e90;
    margin-bottom: 60px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-top: 1px #5b2e90 solid; 
}
.bigexample{
    font-size: 21px;
    line-height: 23px;
    font-weight: 300;
    font-style: italic;
    text-transform: none;
    letter-spacing: 0;
}
.subcats{
    margin-bottom: 60px;
}
.numeroInterno{
    font-size: 26px;
    color: #5b2e90;
    font-weight: 700;
}

/*_______viz attributes here*/
#viz0,#viz1,#viz2,#viz3,#viz4 {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}


/*_______map*/
.countries {
fill: none;
stroke: #5b2e90;
stroke-linejoin: round;
}
.legendThreshold {
  font-size: 12px;
  font-family: 'Open Sans';
}
.caption {
  fill: #000;
  text-anchor: start;
  font-weight: bold;
}

/*_______type attributes here*/
.nodelabel{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Open Sans';
    color: #5b2e90;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;    
}

.BigNumber {
    font-size: 24px;
    font-weight: 700;
    color: white;
}
.detalhe{
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}

/*_______media queries*/
@media only screen and (max-width: 800px) {
    body{
    flex-direction: column;
    }
    .intro_context{
        width: 80%;
    }
    #part0{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .top1{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-right: 0px;
    }
    .titulo{
        padding-top: 20px;
        padding-bottom: 20px;
        flex-direction: column;
        font-size: 50px;
        line-height: 48px;
        font-family: 'Merriweather';
        font-weight: 900;
        /*flex-basis: 100%;*/
        margin-right: 0px;
        color: #5b2e90;
        border-right: 0px;
        /*border-top: 1px solid black;*/
        border-bottom: 1px solid black;
    }
    .linhafina{
        margin-top: 20px;
        border-top: 1px solid black;
    }
    .small_int{
        flex-direction: column;
        /*flex-basis: 100%;*/
        font-size: 15px;
        padding-left: 0px;
        padding-bottom: 0px;
        /*border-top: 1px solid black;*/
        border-bottom: 1px solid black;
    }
    .final{
        /*border-bottom: 1px solid black;*/
        border-top: 0px;
        font-size: 12px;
        line-height: 16px;
        /*width: 80vw;*/
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .snippets{
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid black;
        /*padding-right: 20px;*/
    }
    .sectionHolder{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
    }
    .bullet{
        border-right: 1px solid black;
        padding-right: 5px;
    }
    .sectionDesc{
        padding-left: 5px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #5b2e90;
        font-size: 24px;
        line-height: 23px;
    }
    .bullet_txt{
        font-size: 60px;
        line-height: 60px;
        color: #5b2e90;
        font-weight: 300;
    }
    .descHolder {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: flex-start;
    }
    .descUnique {
        flex-basis: 25%;
        padding-right: 2%;
        opacity: .6;
    }
    .detalhe{
        font-size: 10px;
        line-height: 12px;
        text-transform: uppercase;
        letter-spacing: 0px;
    }


}