/*cores #5b2e90 #30cf8c #f16664 #ff7c8d #ff99b1 #ffb6c1*/
/*d3dfda*/

/*__________________________________________general attributes here*/
* {
    box-sizing: border-box;
    }
body {
    font-family: 'Open Sans';
    padding: 0px;
    margin: 0px;
    color: black;
}
footer{
    position: fixed;
    background-color: black;
    width: 100%;
}

header{
    position: fixed;
    background-color: #5b2e90;
    width: 100%;
    padding: 5px;
    font-size: 11px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    font-weight: 700;
    height: 30px;
}
/*@media only screen and (min-width: 1200px) {*/
/*    .vizcontainer{*/
        /*max-width: 1200px;*/
        /*height: 800px;*/
/*    }*/
/*    .words {*/
/*        transform: scale(1.3);*/
/*    }*/

/*}*/

/*__________________________________________layout attributes here*/
.main-content {
    box-sizing: border-box;
    width: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}
.part{
    box-sizing: border-box;
    width: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}
#part0{
   background: rgb(255,182,193);
    background: -webkit-linear-gradient(rgba(255,182,193,1) 0%, rgba(180,173,204,1) 100%);
    background: -moz-linear-gradient(rgba(255,182,193,1) 0%, rgba(180,173,204,1) 100%);
    background: -o-linear-gradient(rgba(255,182,193,1) 0%, rgba(180,173,204,1) 100%);
    background: linear-gradient(rgba(255,182,193,1) 0%, rgba(180,173,204,1) 100%);
    color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#part1{
    /*background-color: #b4adcc;*/
    background: rgb(180,173,204);
    background: -webkit-linear-gradient(rgba(180,173,204,1) 0%, rgba(244,180,179,1) 100%);
    background: -moz-linear-gradient(rgba(180,173,204,1) 0%, rgba(244,180,179,1) 100%);
    background: -o-linear-gradient(rgba(180,173,204,1) 0%, rgba(244,180,179,1) 100%);
    background: linear-gradient(rgba(180,173,204,1) 0%, rgba(244,180,179,1) 100%);
}
#part2{
    /*background-color: #ffb6c1;*/
    background: rgb(253,227,199);
    background: linear-gradient(0deg, rgba(253,227,199,1) 0%, rgba(244,180,179,1) 100%);
}
#part3{
    /*background-color: snow;*/
    background: rgb(253,227,199);
    background: linear-gradient(180deg, rgba(253,227,199,1) 0%, rgba(211,223,218,1) 100%);
}
#part4{
    background: rgb(233,216,231);
background: linear-gradient(0deg, rgba(233,216,231,1) 0%, rgba(211,223,218,1) 100%);
}
.vizcontainer {
    display: flex;
    flex-direction: row;
    /*align-self: stretch;*/
    justify-content: center;
}
.intro_context {
    width: 60%;
    padding-top: 40px;
    padding-bottom: 30px;
    max-width: 1000px;
}
.titulo{
    font-size: 80px;
    line-height: 75px;
    font-family: 'Merriweather';
    font-weight: 900;
    flex-basis: 40%;
    margin-right: 10px;
    border-right: 1px solid black;
    color: #5b2e90;
}
.top1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 80vw;
    max-width: 1200px;
}
.final{
    border-top: 1px solid black;
    font-size: 12px;
    line-height: 16px;
    width: 80vw;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
}
.snippets{
    flex-basis: 25%;
    padding-top: 20px;
    padding-right: 20px;
}
.small_int{
    flex-basis: 60%;
    font-size: 15px;
    padding-left: 30px;
    padding-bottom: 30px;
}
.hugen{
    position: absolute;
    left: 100px;
}

img{
    width: 100%;
    height: auto;
}
svg{
    max-width: 1300px;
    max-height: 700px;
}

.valueHolder {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-end;
}
.descHolder {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
}
._holder {
    flex-basis: 25%;
    padding: 1%;
    /*border-bottom-width: 3px;*/
    /*border-left: 5px solid white;*/
    opacity: .6;
}
.descUnique {
    flex-basis: 25%;
    padding-right: 2%;
    /*border-bottom-width: 3px;*/
    /*border-left: 5px solid white;*/
    opacity: .6;
}
.example{
    font-size: 13px;
    margin-top: 30px;
    color: #5b2e90;
    margin-bottom: 60px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-top: 1px #5b2e90 solid; 
}
.bigexample{
    font-size: 21px;
    line-height: 23px;
    font-weight: 300;
    font-style: italic;
    text-transform: none;
    letter-spacing: 0;
}
.subcats{
    margin-bottom: 60px;
}

/*__________________________________________viz attributes here*/

#viz0,#viz1,#viz2,#viz3,#viz4 {
    display: flex;
    width: 100%;
    /*height: auto;*/
    /*overflow: auto;*/
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    /*justify-content: flex-start;*/
}
.firstCont, .secCont{
    display: flex;
    flex-basis: 25%;
}
.thirdCont{
    display: flex;
    flex-basis: 50%;
}
svg.dotsViz{
    border: 1px dashed lightpink;
    border-top-color: white;
}


/*__________________________________________header attributes here*/
  .countries {
    fill: none;
    stroke: #5b2e90;
    stroke-linejoin: round;
  }
  .legendThreshold {
      font-size: 12px;
      font-family: 'Open Sans';
  }
  .caption {
      fill: #000;
      text-anchor: start;
      font-weight: bold;
  }

/*__________________________________________type attributes here*/
.nodelabel{
    fill: black;
    z-index: 1;
    font-size: 14px;
    text-anchor: middle;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Merriweather';
    color: #5b2e90;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.7px;    
}
h2{
    font-size: 46px;
    line-height: 42px;
    width: 50%;
    letter-spacing: 0.1px;    
}
.strong1 {
    font-weight: 900;
    border-bottom: 3px solid #ffa059;
}
.strong2 {
    font-weight: 900;
    border-bottom: 3px solid #5ecee5;
}
.BigNumber {
    font-size: 24px;
    font-weight: 700;
    color: white;
}
.detalhe{
    /*border-top: 1px solid black;*/
    /*padding-top: 3%;*/
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}

/*__________________________________________graphical attributes*/
button{
    font-family: 'Open Sans';
    font-weight: bold;
    background-color: #5ecee5;
    letter-spacing: 1px;
    padding: 10px;
    margin: 10px;
    color: white;
    text-transform: uppercase;
    border-style: none;
    box-shadow: 0px 2px 2px lightgrey;

}
button:hover, button:active, button:on{
    background-color: black;
    box-shadow: 0px 0px 0px lightgrey;
}
